<form [formGroup]="form" (ngSubmit)="addTechnology()" class="container">
  <div class="form-group">
    <label for="technology">Technology</label>
    <input
      formControlName="technology"
      type="text"
      class="form-control"
      id="technology"
      aria-describedby="technologyHelp"
      (ngModelChange)="checkValue()"
    />
    <div *ngIf="technology.errors && !technology.pristine">
        <small *ngIf="technology.errors.required" class="form-text text-muted">Please, enter a technology.</small>
    </div>
  </div>
  <div class="form-group">
    <label for="experience">Experience in months</label>
    <input
      formControlName="experience"
      type="text"
      class="form-control"
      id="experience"
      aria-describedby="experienceHelp"
    />
    <div *ngIf="experience.errors && !experience.pristine">
        <small *ngIf="experience.errors.required" class="form-text text-muted">Please, enter an experience.</small>
        <small *ngIf="experience.errors.pattern" class="form-text text-muted">Please, use only numbers.</small>
    </div>
  </div>
  <div class="form-group d-flex justify-content-end">
    <button [disabled]="!form.valid" type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
